@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,900;1,200;1,700;1,900&display=swap');
body {
    background-image: url('static/images/pink_bg_media.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-size: 10pt;
    font-family: Montserrat, Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right,white, #f58ab8, #dc4989, #dc4989, #dc4989);
    border-radius: 25px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    border-right: 1px solid #ffffff
  }
  
  .navbar a:last-child {
    border-right: none;
  }
  
  .navbar a:hover {
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    border-right: none;
    border-radius: 10px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }

.heading h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgb(95, 95, 95);
    color: rgb(250, 250, 163);
    font-size: 36pt;
    margin-top: 0pt;
}

.heading p {
    text-align: center;
    font-size: 20pt;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px rgb(250, 250, 163);
    color: rgb(95, 95, 95);
}

div.content {
    width: 1100px;
    height: 600px;
    border: 2px solid rgb(95, 95, 95);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 5%;
    position: relative;
}

#photos {
    right: 560px;
    position: absolute;
    padding-top: 10px;
    height: 2000px;
    text-align: center;
    width: 540px;
}

#photos h2 {
    text-align: center;
    color: rgb(250, 250, 163);
}

#photos h3 {
    text-align: center;
    color: rgb(250, 250, 163);
}

.image {
    height: 110px;
    width: 110px;
    /* margin: 0 15px 0 0; */
}

/* .text {
    padding: 8px;
    text-align: justify;
    overflow: auto;
} */

#videos {
    left: 560px;
    position: absolute;
    padding-top: 10px;
    height: 2000px;
    text-align: center;
    width: 540px;
}

#videos h2 {
    text-align: center;
    color: rgb(250, 250, 163);
}

#videos h3 {
    text-align: center;
    color: rgb(250, 250, 163);
}

#table1 {
    width: 90%;
    margin-left: 20px;
    column-count: 2;
    column-gap: 5%;
}