@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,900;1,200;1,700;1,900&display=swap');
body {
  font-family: Montserrat, Arial, sans-serif;
  background-image: url('images/pinkclouds.jpg');
  background-repeat: repeat;
  background-size: calc(100% / 2);
  min-height: 200%;
}

h1 {
  font-size: 72px;
  color:#dc4989;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color:#dc4989;
}

p {
  font-size: 12px;
  font-weight: 400;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right,white, #f58ab8, #dc4989, #dc4989, #dc4989);
  border-radius: 25px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  border-right: 1px solid #ffffff
}

.navbar a:last-child {
  border-right: none;
}

.navbar a:hover {
  background-color: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: black;
  border-right: none;
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  
}

.welcome-text {
  position: relative;
  width: fit-content;
  text-align: center;
  padding: 60px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 14, 106, 0.809);
  margin: 100px auto;
}

footer {
  position: relative;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.airplane-image {
  position: absolute;
  top: 100px;
  right: 60px;
  width: 200px;
  height: auto;
}

.pinkbox-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 30%;
}

.pinkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  margin: 10px;
  padding: 30px;
  background: linear-gradient(to top, #dc4989, #f58ab8);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pinkbox h2 {
  color: white;
}

.review-section {
  position: relative;
  width: fit-content;
  text-align: center;
  padding: 60px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(255, 14, 106, 0.809);
  margin: 0 auto;
}

.sitesbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 30%;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 10px;
  padding: 30px;
  background: linear-gradient(to top, #dc4989, #f58ab8);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
}

.icon {
  height: 75px;
  margin-right: 10px;
  color: white;
  stroke-width: 1px;
}

.full-width-box {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px;
  padding: 30px;
  background: linear-gradient(to top, #dc4989, #f58ab8);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.full-width-box a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
}

.map {
  overflow: hidden;
  position:relative;
  margin-top: 50px;
  border-radius:20px;
  border: 1px solid #ddd;
  left: 40px;
  box-shadow: 0 0 40px rgba(255, 11, 133, 0.75);
  align-content: center;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-left: 2px solid #dc4989;
}
